.homepageContent{
    background-color: #393E46;
    margin-left: 44px;
    margin-right: 44px;
    padding-bottom: 44px;
    height: 62vh;
    margin-top: 12px;
    margin-bottom: 0px;
}

.contentDiv{
    padding: 0px 44px;
}

.contentHeading{
    color: white;
    font-size: 22px;
}

.seasonHeadingRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 4px;
    background-color: #F5B041;
    color: black;
    height: 40px;
    font-size: 17px;
}

.seasonRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
    background-color: #515864;
    color: white;
    height: 40px;
    font-size: 16px;
}

.seasonIndex{
    width: 5%;
}

.seasonName{
    width: 45%;
}

.seasonStartEnd{
    width: 25%;
}

.singleElementRowFlew{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contentTriangleDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 44px;
    margin-bottom: 4px;
}

.topRightCornerDark{
    width: 0;
    height: 0;
    border-left: 44px solid transparent;
    border-top: 44px solid #222831;
}

.topLeftCornerDark{
    width: 0;
    height: 0;
    border-right: 44px solid transparent;
    border-top: 44px solid #222831;
}

.createSeasonButtonDiv{
    margin-top: 16px;
    margin-right: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.createSeasonButton{
    height: 32px;
    padding: 4px 16px;
    font-size: 17px;
    background-color: #F5B041;
    color: black;
    border: none;
}

.crossDiv{
    padding: 4px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.fieldsDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.field{
    width: 100%;
    margin: 8px 20px;
}

.createButtonDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.createButton{
    font-size: 16px;
    background-color: #00ADB5;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
}