.navigationBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin-bottom: 4px;
    background-color: #FFBF00;
}

.navigationIcon{
    margin: 0px 52px;
}