.marksContentDiv{
    padding: 7.5% 7.5%;
}

.filterContentResetButtonDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 2%;
}

.filterContentResetButtonDiv:hover{
    background-color: #DDDDDD;
}

.filterDrawerFilterButtonDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 5%;
    padding-right: 5%;
}