.inPageBar{
    display: flex;
    flex-direction: row;
}

.topRightCornerLight{
    width: 0;
    height: 0;
    border-left: 44px solid transparent;
    border-top: 44px solid #EEEEEE;
}  

.topLeftCornerLight{
    width: 0;
    height: 0;
    border-right: 44px solid transparent;
    border-top: 44px solid #EEEEEE;
}

.bottomLeftCornerDark{
    width: 0;
    height: 0;
    border-right: 44px solid transparent;
    border-bottom: 44px solid #222831;
}

.bottomRightCornerDark{
    width: 0;
    height: 0;
    border-left: 44px solid transparent;
    border-bottom: 44px solid #222831;
}

.inPageNavBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: 8px;
    background-color: #EEEEEE;
}

.currentPageDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 72px;
}

.largeText{
    font-size: 20px;
}

.centerContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentPageArrow{
    margin-left: 18px;
}

.tabDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.pageTabs{
    display: flex;
    flex-direction: row;
    /* padding-bottom: 14px; */
}

.pageTabDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTab{
    font-size: 16px;
    width: 136px;
    height: 36px;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.pageTab:hover{
    background-color: #E0E0E0;
}

.TabsDownArrowDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 0px;
    background-color: white;
    z-index: 1;
}

.currentTabDownArrowDiv{
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 0px;
    z-index: 1;
}

.currentTabDownArrow{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #00ADB5;
    border-width:22px;
    z-index: 1;
    display: none;
}