.filterDrawerDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    flex-grow: 1;
    background-color: #EEEEEE;
}

.filterDrawerCategoryDiv{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: #F5B041;
}

.filterDrawerCategoryContentDiv{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background-color: #EEEEEE
}

.filterDrawerButtonDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    padding: 0px 5%;
}

.filterButton{
    background-color: #00ADB5;
    padding: 4px 20px;
    border-radius: 8px;
}

.filterIcon:hover{
    color: #EEEEEE;
}

.filterDrawerButtonDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    padding: 0px 5%;
}

/* .filterDrawerLeftDiv{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
} */